In [245]:
import pandas as pd

In [246]:
data1 = pd.read_csv('C:/half_time_analyze/win-draw/final/soccer.csv', sep = ',', header = 0, engine = 'python')
data2 = pd.read_csv('C:/half_time_analyze/win-draw/final/soccer2.csv', sep = ',', header = 0, engine = 'python')
data3 = pd.read_csv('C:/half_time_analyze/win-draw/final/soccer3.csv', sep = ',', header = 0, engine = 'python')

In [247]:
# csv 파일 병합
total_data = pd.concat([data1, data2, data3])
total_data

,Match_date,teamName,homeAway,Ball Possession,Goal Attempts,Shots On,Shots Off,Blocked Shots,Free kick,Offsides,...,Substitute,Substitute 1st Half,Substitute 2nd Half,Throw Ins 1st Half,Throw Ins 2nd Half,Treatment 1st Half,Treatment 2nd Half,Yellow Cards 1st Half,Yellow Cards 2nd Half,Result
0,Match date: 05-08-2022 / 22:00,CRYSTAL PALACE,1,56,10,2,2,6,13,1,...,4,0,4,12,10,0,1,0,1.0,L
1,Match date: 05-08-2022 / 22:00,ARSENAL,2,44,11,2,4,5,17,2,...,3,0,3,12,1,0,0,1,1.0,W
2,Match date: 06-08-2022 / 14:30,FULHAM,1,33,9,3,2,4,13,4,...,3,0,3,8,13,0,0,1,NaN,D
3,Match date: 06-08-2022 / 14:30,LIVERPOOL,2,67,11,3,5,3,11,4,...,4,0,4,14,20,1,1,0,NaN,D
4,Match date: 06-08-2022 / 17:00,TOTTENHAM,1,57,18,8,5,5,6,2,...,5,0,5,12,6,0,0,1,2.0,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Match date: 06-05-2023 / 17:00,ASTON VILLA,2,62,17,3,6,8,23,2,...,5,0,5,14,6,1,3,1,2.0,L
164,Match date: 06-05-2023 / 17:00,TOTTENHAM,1,57,8,3,3,2,14,1,...,3,0,3,5,7,0,2,0,3.0,W
165,Match date: 06-05-2023 / 17:00,CRYSTAL PALACE,2,43,7,2,3,2,16,0,...,2,0,2,7,20,0,0,0,5.0,L
166,Match date: 06-05-2023 / 17:00,MANCHESTER CITY,1,81,18,6,10,2,19,4,...,3,0,3,5,7,0,1,0,0.0,W
167,Match date: 06-05-2023 / 17:00,LEEDS,2,19,4,2,1,1,7,3,...,5,0,5,4,6,0,0,1,2.0,L

In [248]:
total_data.columns = total_data.columns.str.replace(' ', '_')
total_data.columns

Index(['Match_date', 'teamName', 'homeAway', 'Ball_Possession',
       'Goal_Attempts', 'Shots_On', 'Shots_Off', 'Blocked_Shots', 'Free_kick',
       'Offsides', 'Throw_Ins', 'Saves', 'Fouls_Commited', 'Red_Cards',
       'Yellow_Cards', 'Assists_1st_Half', 'Assists_2nd_Half',
       'Ball_Possession_1st_Half', 'Ball_Possession_2nd_Half',
       'Blockes_Shots_1st_Half', 'Blockes_Shots_2nd_Half', 'Corners',
       'Corners_1st_Half', 'Corners_2nd_Half', 'Counter_Attacks',
       'Counter_Attacks_1st_Half', 'Counter_Attacks_2nd_Half', 'Crosses',
       'Crosses_1st_Half', 'Crosses_2nd_Half', 'Fouls_Commited_1st_Half',
       'Fouls_Commited_2nd_Half', 'Free_kick_1st_Half', 'Free_kick_2nd_Half',
       'Goal_Attempts_1st_Half', 'Goal_Attempts_2nd_Half', 'Goal_Kick',
       'Goal_Kick_1st_Half', 'Goal_Kick_2nd_Half', 'Goals_1st_Half',
       'Goals_2nd_Half', 'Offsides_1st_Half', 'Offsides_2nd_Half',
       'Red_Cards_1st_Half', 'Red_Cards_2nd_Half', 'Saves_1st_Half',
       'Saves_2nd_Half', 'Shots_Off_1st_Half', 'Shots_Off_2nd_Half',
       'Shots_On_1st_Half', 'Shots_On_2nd_Half', 'Substitute',
       'Substitute_1st_Half', 'Substitute_2nd_Half', 'Throw_Ins_1st_Half',
       'Throw_Ins_2nd_Half', 'Treatment_1st_Half', 'Treatment_2nd_Half',
       'Yellow_Cards_1st_Half', 'Yellow_Cards_2nd_Half', 'Result'],
      dtype='object')

In [249]:
# 전반전 슈팅값 변수 추가
total_data['Shots_1st_Half'] = total_data['Shots_Off_1st_Half'] + total_data['Shots_On_1st_Half']

In [250]:
# homeAway에서 home은 1, Away는 0으로 설정
total_data = total_data.replace({'homeAway': 2}, 0)
total_data

,Match_date,teamName,homeAway,Ball_Possession,Goal_Attempts,Shots_On,Shots_Off,Blocked_Shots,Free_kick,Offsides,...,Substitute_1st_Half,Substitute_2nd_Half,Throw_Ins_1st_Half,Throw_Ins_2nd_Half,Treatment_1st_Half,Treatment_2nd_Half,Yellow_Cards_1st_Half,Yellow_Cards_2nd_Half,Result,Shots_1st_Half
0,Match date: 05-08-2022 / 22:00,CRYSTAL PALACE,1,56,10,2,2,6,13,1,...,0,4,12,10,0,1,0,1.0,L,1
1,Match date: 05-08-2022 / 22:00,ARSENAL,0,44,11,2,4,5,17,2,...,0,3,12,1,0,0,1,1.0,W,3
2,Match date: 06-08-2022 / 14:30,FULHAM,1,33,9,3,2,4,13,4,...,0,3,8,13,0,0,1,NaN,D,2
3,Match date: 06-08-2022 / 14:30,LIVERPOOL,0,67,11,3,5,3,11,4,...,0,4,14,20,1,1,0,NaN,D,2
4,Match date: 06-08-2022 / 17:00,TOTTENHAM,1,57,18,8,5,5,6,2,...,0,5,12,6,0,0,1,2.0,W,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Match date: 06-05-2023 / 17:00,ASTON VILLA,0,62,17,3,6,8,23,2,...,0,5,14,6,1,3,1,2.0,L,4
164,Match date: 06-05-2023 / 17:00,TOTTENHAM,1,57,8,3,3,2,14,1,...,0,3,5,7,0,2,0,3.0,W,3
165,Match date: 06-05-2023 / 17:00,CRYSTAL PALACE,0,43,7,2,3,2,16,0,...,0,2,7,20,0,0,0,5.0,L,2
166,Match date: 06-05-2023 / 17:00,MANCHESTER CITY,1,81,18,6,10,2,19,4,...,0,3,5,7,0,1,0,0.0,W,10
167,Match date: 06-05-2023 / 17:00,LEEDS,0,19,4,2,1,1,7,3,...,0,5,4,6,0,0,1,2.0,L,2

In [251]:
# 인덱스 재설정
total_data = total_data.reset_index(drop=True)
total_data

,Match_date,teamName,homeAway,Ball_Possession,Goal_Attempts,Shots_On,Shots_Off,Blocked_Shots,Free_kick,Offsides,...,Substitute_1st_Half,Substitute_2nd_Half,Throw_Ins_1st_Half,Throw_Ins_2nd_Half,Treatment_1st_Half,Treatment_2nd_Half,Yellow_Cards_1st_Half,Yellow_Cards_2nd_Half,Result,Shots_1st_Half
0,Match date: 05-08-2022 / 22:00,CRYSTAL PALACE,1,56,10,2,2,6,13,1,...,0,4,12,10,0,1,0,1.0,L,1
1,Match date: 05-08-2022 / 22:00,ARSENAL,0,44,11,2,4,5,17,2,...,0,3,12,1,0,0,1,1.0,W,3
2,Match date: 06-08-2022 / 14:30,FULHAM,1,33,9,3,2,4,13,4,...,0,3,8,13,0,0,1,NaN,D,2
3,Match date: 06-08-2022 / 14:30,LIVERPOOL,0,67,11,3,5,3,11,4,...,0,4,14,20,1,1,0,NaN,D,2
4,Match date: 06-08-2022 / 17:00,TOTTENHAM,1,57,18,8,5,5,6,2,...,0,5,12,6,0,0,1,2.0,W,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,Match date: 06-05-2023 / 17:00,ASTON VILLA,0,62,17,3,6,8,23,2,...,0,5,14,6,1,3,1,2.0,L,4
526,Match date: 06-05-2023 / 17:00,TOTTENHAM,1,57,8,3,3,2,14,1,...,0,3,5,7,0,2,0,3.0,W,3
527,Match date: 06-05-2023 / 17:00,CRYSTAL PALACE,0,43,7,2,3,2,16,0,...,0,2,7,20,0,0,0,5.0,L,2
528,Match date: 06-05-2023 / 17:00,MANCHESTER CITY,1,81,18,6,10,2,19,4,...,0,3,5,7,0,1,0,0.0,W,10
529,Match date: 06-05-2023 / 17:00,LEEDS,0,19,4,2,1,1,7,3,...,0,5,4,6,0,0,1,2.0,L,2

In [252]:
# 독립변수와 종속변수 추출
total_data = total_data[['homeAway', 'Ball_Possession_1st_Half', 'Corners_1st_Half', 'Fouls_Commited_1st_Half', 'Goals_1st_Half', 'Red_Cards_1st_Half', 'Shots_1st_Half', 'Shots_On_1st_Half', 'Yellow_Cards_1st_Half', 'Result']]
total_data

,homeAway,Ball_Possession_1st_Half,Corners_1st_Half,Fouls_Commited_1st_Half,Goals_1st_Half,Red_Cards_1st_Half,Shots_1st_Half,Shots_On_1st_Half,Yellow_Cards_1st_Half,Result
0,1,45,1,8,0,0,1,1,0,L
1,0,55,2,5,1,0,3,2,1,W
2,1,29,3,5,1,0,2,1,1,D
3,0,71,1,4,0,0,2,0,0,D
4,1,58,6,7,2,0,7,5,1,W
...,...,...,...,...,...,...,...,...,...,...
525,0,60,2,3,0,0,4,3,1,L
526,1,58,4,7,1,0,3,1,0,W
527,0,42,2,2,0,0,2,1,0,L
528,1,84,3,2,2,0,10,4,0,W
529,0,16,1,6,0,0,2,1,1,L

In [253]:
#무, 승 데이터 추출
idx = total_data[total_data['Result'] == "L"].index
total_data.drop(idx, inplace = True)
total_data

C:\Users\srsr1\AppData\Local\Temp\ipykernel_30052\888017966.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_data.drop(idx, inplace = True)

,homeAway,Ball_Possession_1st_Half,Corners_1st_Half,Fouls_Commited_1st_Half,Goals_1st_Half,Red_Cards_1st_Half,Shots_1st_Half,Shots_On_1st_Half,Yellow_Cards_1st_Half,Result
1,0,55,2,5,1,0,3,2,1,W
2,1,29,3,5,1,0,2,1,1,D
3,0,71,1,4,0,0,2,0,0,D
4,1,58,6,7,2,0,7,5,1,W
6,1,64,7,6,0,0,10,5,0,W
...,...,...,...,...,...,...,...,...,...,...
520,1,66,3,6,1,0,6,2,0,W
522,1,57,3,4,0,0,7,2,0,W
524,1,40,1,10,1,0,2,1,1,W
526,1,58,4,7,1,0,3,1,0,W
528,1,84,3,2,2,0,10,4,0,W

In [254]:
# 승, 무승부는 1로, 패배는 0으로 값 변경
total_data = total_data.replace({'Result': 'W'}, 1)
total_data = total_data.replace({'Result': 'D'}, 0)
total_data

,homeAway,Ball_Possession_1st_Half,Corners_1st_Half,Fouls_Commited_1st_Half,Goals_1st_Half,Red_Cards_1st_Half,Shots_1st_Half,Shots_On_1st_Half,Yellow_Cards_1st_Half,Result
1,0,55,2,5,1,0,3,2,1,1
2,1,29,3,5,1,0,2,1,1,0
3,0,71,1,4,0,0,2,0,0,0
4,1,58,6,7,2,0,7,5,1,1
6,1,64,7,6,0,0,10,5,0,1
...,...,...,...,...,...,...,...,...,...,...
520,1,66,3,6,1,0,6,2,0,1
522,1,57,3,4,0,0,7,2,0,1
524,1,40,1,10,1,0,2,1,1,1
526,1,58,4,7,1,0,3,1,0,1
528,1,84,3,2,2,0,10,4,0,1

In [255]:
#결측치 확인
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323 entries, 1 to 528
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   homeAway                  323 non-null    int64
 1   Ball_Possession_1st_Half  323 non-null    int64
 2   Corners_1st_Half          323 non-null    int64
 3   Fouls_Commited_1st_Half   323 non-null    int64
 4   Goals_1st_Half            323 non-null    int64
 5   Red_Cards_1st_Half        323 non-null    int64
 6   Shots_1st_Half            323 non-null    int64
 7   Shots_On_1st_Half         323 non-null    int64
 8   Yellow_Cards_1st_Half     323 non-null    int64
 9   Result                    323 non-null    int64
dtypes: int64(10)
memory usage: 27.8 KB

In [256]:
#데이터 내보내기
total_data.to_csv('soccer_data.csv', index = False)

In [257]:
#타겟 데이터 따로 저장
target = total_data['Result']
#total_data에서 종속 변수 제거
total_data = total_data.drop(columns=['Result'], axis = 1)

In [258]:
total_data.head()

,homeAway,Ball_Possession_1st_Half,Corners_1st_Half,Fouls_Commited_1st_Half,Goals_1st_Half,Red_Cards_1st_Half,Shots_1st_Half,Shots_On_1st_Half,Yellow_Cards_1st_Half
1,0,55,2,5,1,0,3,2,1
2,1,29,3,5,1,0,2,1,1
3,0,71,1,4,0,0,2,0,0
4,1,58,6,7,2,0,7,5,1
6,1,64,7,6,0,0,10,5,0

In [259]:
total_data.columns

Index(['homeAway', 'Ball_Possession_1st_Half', 'Corners_1st_Half',
       'Fouls_Commited_1st_Half', 'Goals_1st_Half', 'Red_Cards_1st_Half',
       'Shots_1st_Half', 'Shots_On_1st_Half', 'Yellow_Cards_1st_Half'],
      dtype='object')

In [260]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323 entries, 1 to 528
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   homeAway                  323 non-null    int64
 1   Ball_Possession_1st_Half  323 non-null    int64
 2   Corners_1st_Half          323 non-null    int64
 3   Fouls_Commited_1st_Half   323 non-null    int64
 4   Goals_1st_Half            323 non-null    int64
 5   Red_Cards_1st_Half        323 non-null    int64
 6   Shots_1st_Half            323 non-null    int64
 7   Shots_On_1st_Half         323 non-null    int64
 8   Yellow_Cards_1st_Half     323 non-null    int64
dtypes: int64(9)
memory usage: 25.2 KB

In [261]:
from sklearn.model_selection import train_test_split

In [262]:
# X, Y 설정
Y = target
# X = soccer_half_scaled
X = total_data

In [263]:
# 훈련 데이터와 테스트 데이터 분리
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 360, stratify = Y)

In [264]:
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(226, 9) (97, 9) (226,) (97,)

In [265]:
#target 자료형 확인
Y_train.info()

<class 'pandas.core.series.Series'>
Int64Index: 226 entries, 34 to 235
Series name: Result
Non-Null Count  Dtype
--------------  -----
226 non-null    int64
dtypes: int64(1)
memory usage: 3.5 KB

In [266]:
Y_test.info()

<class 'pandas.core.series.Series'>
Int64Index: 97 entries, 196 to 373
Series name: Result
Non-Null Count  Dtype
--------------  -----
97 non-null     int64
dtypes: int64(1)
memory usage: 1.5 KB

In [267]:
print(round(sum(Y_train)/len(Y_train)*100, 2), '%')

64.16 %

In [268]:
print(round(sum(Y_test)/len(Y_test)*100, 2), '%')

63.92 %

In [269]:
import statsmodels.api as sm

In [270]:
#절편(intercept) 추가
X_ = sm.add_constant(X_train, has_constant='add')

In [271]:
logit_m = sm.Logit(Y_train, X_)
logit_m_train = logit_m.fit()

Optimization terminated successfully.
         Current function value: 0.514619
         Iterations 6

In [272]:
from sklearn.metrics import accuracy_score

In [273]:
y_pred = logit_m_train.predict(sm.add_constant(X_test)) > 0.5
accuracy = accuracy_score(Y_test, y_pred)
print('정확도: {0:.3f}'.format(accuracy))

정확도: 0.722

In [274]:
logit_m_train.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Result   No. Observations:                  226
Model:                          Logit   Df Residuals:                      216
Method:                           MLE   Df Model:                            9
Date:                Sat, 17 Jun 2023   Pseudo R-squ.:                  0.2113
Time:                        22:47:11   Log-Likelihood:                -116.30
converged:                       True   LL-Null:                       -147.46
Covariance Type:            nonrobust   LLR p-value:                 4.777e-10
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -1.4771      0.860     -1.718      0.086      -3.162       0.208
homeAway                     0.2368      0.334      0.708      0.479      -0.419       0.892
Ball_Possession_1st_Half     0.0160      0.014      1.176      0.240      -0.011       0.043
Corners_1st_Half             0.1615      0.095      1.698      0.089      -0.025       0.348
Fouls_Commited_1st_Half      0.1228      0.084      1.465      0.143      -0.041       0.287
Goals_1st_Half               1.4565      0.281      5.181      0.000       0.906       2.008
Red_Cards_1st_Half          -0.4224      1.574     -0.268      0.788      -3.508       2.663
Shots_1st_Half               0.0088      0.096      0.092      0.927      -0.179       0.197
Shots_On_1st_Half           -0.2271      0.151     -1.499      0.134      -0.524       0.070
Yellow_Cards_1st_Half       -0.8824      0.220     -4.014      0.000      -1.313      -0.452
============================================================================================
"""

- coef : 계수
- const : intercept(절편)
- P>|z| : p-value

# 36-38 round 예측

In [1]:
import pandas as pd

In [2]:
# 36-38라운드에 대한 승/무 예측
testdata = pd.read_csv('C:/half_time_analyze/win-draw/final/3638round.csv', sep=',', header = 0, engine = 'python')

In [3]:
testdata

             teamName result predict sf
0        SOUTHHAMPTON      L       L  S
1              FULHAM      W       W  S
2             EVERTON      L       L  S
3     MANCHESTER CITY      W       W  S
4           BRENTFORD      W       W  S
5            WEST HAM      L       L  S
6             ARSENAL      L       W  F
7            BRIGHTON      W       W  S
8           LEICESTER      L       L  S
9           LIVERPOOL      W       W  S
10          TOTTENHAM      L       W  F
11          BRENTFORD      W       L  F
12              LEEDS      D       W  F
13          NEWCASTLE      D       W  F
14            CHELSEA      D       W  F
15  NOTTINGHAM FOREST      D       L  F
16     CRYSTAL PALACE      W       W  S
17        BOURNEMOUTH      L       L  S
18     MANCHESTER UTD      W       W  S
19      WOLVERHAMPTON      L       L  S
20        ASTON VILLA      W       W  S
21          TOTTENHAM      L       L  S
22           WEST HAM      W       W  S
23              LEEDS      L       W  F
24           BRIGHTON      W       W  S
25        SOUTHAMPTON      L       L  S
26    MANCHESTER CITY      W       W  S
27            CHELSEA      L       L  S
28          NEWCASTLE      D       D  S
29          LEICESTER      D       L  F
30            ARSENAL      W       W  S
31      WOLVERHAMPTON      L       L  S
32          LIVERPOOL      D       W  F
33        ASTON VILLA      D       W  F
34             FULHAM      D       W  F
35     CRYSTAL PALACE      D       W  F
36      WOLVERHAMPTON      D       D  S
37            EVERTON      D       W  F
38        BOURNEMOUTH      L       L  S
39     MANCHESTER UTD      W       W  S
40  NOTTINGHAM FOREST      W       L  F
41            ARSENAL      L       W  F
42          BRENTFORD      W       L  F
43     MANCHESTERCITY      L       W  F
44         ASTONVILLA      W       W  S
45           BRIGHTON      L       W  F
46              LEEDS      L       D  F
47          TOTTENHAM      W       W  S
48            EVERTON      W       W  S
49        BOURNEMOUTH      L       L  S
50        SOUTHAMPTON      D       W  F
51          LIVERPOOL      D       W  F
52     MANCHESTER UTD      W       W  S
53             FULHAM      L       W  F
54          LEICESTER      W       W  S
55           WEST HAM      L       L  S
56     CRYSTAL PALACE      D       W  F
57  NOTTINGHAM FOREST      D       D  S
58            CHELSEA      D       W  F
59          NEWCASTLE      D       W  F

In [4]:
#승, 무 데이터 추출
idx = testdata[testdata['result'] == "L"].index
testdata.drop(idx, inplace = True)
testdata

             teamName result predict sf
1              FULHAM      W       W  S
3     MANCHESTER CITY      W       W  S
4           BRENTFORD      W       W  S
7            BRIGHTON      W       W  S
9           LIVERPOOL      W       W  S
11          BRENTFORD      W       L  F
12              LEEDS      D       W  F
13          NEWCASTLE      D       W  F
14            CHELSEA      D       W  F
15  NOTTINGHAM FOREST      D       L  F
16     CRYSTAL PALACE      W       W  S
18     MANCHESTER UTD      W       W  S
20        ASTON VILLA      W       W  S
22           WEST HAM      W       W  S
24           BRIGHTON      W       W  S
26    MANCHESTER CITY      W       W  S
28          NEWCASTLE      D       D  S
29          LEICESTER      D       L  F
30            ARSENAL      W       W  S
32          LIVERPOOL      D       W  F
33        ASTON VILLA      D       W  F
34             FULHAM      D       W  F
35     CRYSTAL PALACE      D       W  F
36      WOLVERHAMPTON      D       D  S
37            EVERTON      D       W  F
39     MANCHESTER UTD      W       W  S
40  NOTTINGHAM FOREST      W       L  F
42          BRENTFORD      W       L  F
44         ASTONVILLA      W       W  S
47          TOTTENHAM      W       W  S
48            EVERTON      W       W  S
50        SOUTHAMPTON      D       W  F
51          LIVERPOOL      D       W  F
52     MANCHESTER UTD      W       W  S
54          LEICESTER      W       W  S
56     CRYSTAL PALACE      D       W  F
57  NOTTINGHAM FOREST      D       D  S
58            CHELSEA      D       W  F
59          NEWCASTLE      D       W  F

In [5]:
#승 데이터 추출
testdataW = testdata[testdata['result'] == 'W']
testdataW

             teamName result predict sf
0              FULHAM      W       W  S
1     MANCHESTER CITY      W       W  S
2           BRENTFORD      W       W  S
3            BRIGHTON      W       W  S
4           LIVERPOOL      W       W  S
5           BRENTFORD      W       L  F
6      CRYSTAL PALACE      W       W  S
7      MANCHESTER UTD      W       W  S
8         ASTON VILLA      W       W  S
9            WEST HAM      W       W  S
10           BRIGHTON      W       W  S
11    MANCHESTER CITY      W       W  S
12            ARSENAL      W       W  S
13     MANCHESTER UTD      W       W  S
14  NOTTINGHAM FOREST      W       L  F
15          BRENTFORD      W       L  F
16         ASTONVILLA      W       W  S
17          TOTTENHAM      W       W  S
18            EVERTON      W       W  S
19     MANCHESTER UTD      W       W  S
20          LEICESTER      W       W  S

In [6]:
#무 데이터 추출
testdataD = testdata[testdata['result'] == 'D']
testdataD

             teamName result predict sf
0               LEEDS      D       W  F
1           NEWCASTLE      D       W  F
2             CHELSEA      D       W  F
3   NOTTINGHAM FOREST      D       L  F
4           NEWCASTLE      D       D  S
5           LEICESTER      D       L  F
6           LIVERPOOL      D       W  F
7         ASTON VILLA      D       W  F
8              FULHAM      D       W  F
9      CRYSTAL PALACE      D       W  F
10      WOLVERHAMPTON      D       D  S
11            EVERTON      D       W  F
12        SOUTHAMPTON      D       W  F
13          LIVERPOOL      D       W  F
14     CRYSTAL PALACE      D       W  F
15  NOTTINGHAM FOREST      D       D  S
16            CHELSEA      D       W  F
17          NEWCASTLE      D       W  F

In [7]:
df = pd.DataFrame(testdata)
df1 = pd.DataFrame(testdataW)
df2 = pd.DataFrame(testdataD)

In [8]:
#승, 무 예측 성공률
print(round(len(df.loc[df['predict'] == df['result']])/len(df)*100, 2), '%')

53.85 %

In [9]:
#승 예측 성공률
#print(round(len(df1.loc[df1['sf'] == 'S'])/len(df1)*100, 2), '%')
print(round(len(df1.loc[df1['predict'] == df1['result']])/len(df1)*100, 2), '%')

85.71 %

In [10]:
#무 예측 성공률
#print(round(len(df2.loc[df2['sf'] == 'S'])/len(df2)*100, 2), '%')
print(round(len(df2.loc[df2['predict'] == df2['result']])/len(df2)*100, 2), '%')

16.67 %